body {
  font-family: sans-serif;
  background-color: black;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding-top: 10px;
}

.container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main";
  gap: 10px;
  min-height: 100vh;
}

header {
  grid-area: header;
}

.headerGrid {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 10px;
}

.LogoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

#Logo {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.TrenutnoGrid {
  display: grid;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 50px;
  text-decoration: underline;
  border-radius: 10px;
  border: 5px solid #3a3936;
  background-color: #585652;
}

.CartBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 5px solid #3a3936;
  background-color: #585652;
}

.Cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  position: relative;
}

.FlexCart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  padding: 10px;
}

.mainGrid {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40% auto;
  gap: 10px;
}

.Slika {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  padding: 10px;
  min-height: 200px;
  height: 100%;
}

#SlikaAuta {
  width: 60%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
  -webkit-mask-image:
    linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-composite: intersect;

  mask-image:
    linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-composite: intersect;
}

.Pozdrav {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 400%;
}

.Prodaja {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-items: center;
  text-align: center;
  background-color: #585652;
  border-radius: 10px;
  border: 5px solid #3a3936;
}

.ProdajaEl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 312px;
  max-width: 390px;
  background: #585652;
  border-radius: 10px;
  padding: 42px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.4em;
  gap: 18px; /* Add this line for spacing between text elements */
}

.FlexProdaja {
  background-attachment: fixed;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #585652;
  border-radius: 10px;
}

.FlexProdajaEl {
  gap: 10px;
}


.SlikaProdaja img {
  width: 10%;
  height: 60%;
  object-fit: contain;
  padding: 8px;
  background-color: black;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Slika1,
.Slika2,
.Slika3,
.Slika4,
.Slika5 {
  position: relative;
  
}

.Brojac {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  font-size: 13px;
  padding: 2px 6px;
  border-radius: 50%;
  display: none;
  z-index: 2;
}

aside {
  grid-area: aside;
  gap: 10px;
  text-align: left;
}

.asideGrid {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.KategorijeKontaktFlex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Kategorije {
  flex-grow: 1;
  background-color: #585652;
  border-radius: 10px;
  border: 5px solid #3a3936;
}

.Kategorije ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.Kategorije li {
  width: 30%;
  min-width: 100px;
}

.Kontakt {
  height: min-content;
  text-align: center;
  text-decoration: underline;
  color: white;
  background-color: #585652;
  border-radius: 10px;
  border: 5px solid #3a3936;
}

.ime1, .ime2, .ime3, .ime4, .ime5 {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: center;
  background-color: #585652;
  padding: 17px;
  margin: 5px 0;
  font-size: 17px;
  border-radius: 15px;
  color: white;
}

li:hover {
  cursor: pointer;
  font-weight: bold;
}

.Search,
.Cart:hover {
  cursor: pointer;
}

.HeaderBrojac {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 60%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.HeaderBrojac.active {
  display: inline-flex;
  bottom: 45%;
  left: 50%;
}

.CartIconImg {
  display: none;
  position: absolute;
  bottom: 7%;
  left: 52%;

}

.CartImg:hover .CartIconImg {
  display: block;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header"
      "main main main";
  }

  .headerGrid {
    grid-template-rows: 150px 150px;
    grid-template-columns: 1fr 150px;
    text-align: center;
  }

  .LogoBox {
    width: 20%;
    align-items: center;
  }

  #Logo {
    grid-column: -3 / -2;
    margin: 0 auto;
  }

  .TrenutnoGrid {
    grid-column: -3 / -2;
    grid-row: 2 / 3;
    font-size: 30px;
  }

  .CartBox {
    justify-content: center;
    grid-column: -2 / -1;
    grid-row: 2 / 3;
  }

  .mainGrid {
    grid-template-rows: 1fr auto;
  }

  .Slika {
    grid-column: 1 / 3;
    grid-row: -2 / -3;
    padding: 5px;
    min-height: 150px;
  }

  #SlikaAuta {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .Pozdrav {
    font-size: 250%;
    top: 5%;
    left: 5%;
  }

  .FlexProdaja {
    flex-direction: row;
    align-items: center;
  }

  .ProdajaEl {
    width: 30%;
    font-size: 14px;
  }

  .asideGrid {
    grid-column: -3 / -2;
    grid-row: 2 / 3;
  }

  .Kategorije ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .Kategorije li {
    width: 30%;
    min-width: 100px;
  }

  li {
    font-size: 17px;
  }

  .Kontakt {
    font-size: 14px;
    padding: 5px;
    width: 110px;
  }

  .headerGrid img {
    height: auto;
    width: 100px;
  }

  .Cart img,
  .Search img {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}